{# admin.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}

    Accueil

{% endblock %}

 {% block header %}
       <header>
       <nav>
       <ul>
            <li><a href="#" >Accueil</a></li>
            <li><a href="#" >Formation</a></li>
            <li><a href="#" >Aide</a></li>
            <li><a href="#" >Contact</a></li>
        </ul>
       </nav>
       </header>
   {% endblock %}

{% block content %}

    Hello Wilders Lyon !

{% endblock %}